nav {
    color: white;
    background-color: black;
  }
  
  #para {
    text-align: center;
    color: black;
  }
  body {
    /* background-color: white; */
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='M0 29a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11v2a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11zM0 69a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11v2a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11z' fill='rgba(203, 213, 224,1)'/%3E%3Cpath d='M20 29.5a 9.5-9.5 0 0 0 9.5-9.5a 10.5-10.5 0 0 1 10.5-10.5v1a-9.5 9.5 0 0 0-9.5 9.5a-10.5 10.5 0 0 1-10.5 10.5z' fill='rgba(226, 232, 240,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    font-family: "Righteous", cursive;
    cursor: url(https://cur.cursors-4u.net/user/use-1/use30.cur), auto !important;
  }
  h1 {
    color: black;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
  }
  
  #one {
    /* background-color: rgb(40, 103, 178); */
    background-image: url('./images/linkedin.png');
    background-size: cover;
  }
  #two {
    /* background-color: rgb(33, 31, 31); */
    background-image: url('./images/github.png');
    background-size: cover;
  }
  #three {
    background-color: rgb(225, 48, 108);
  }
  #buttons {
    margin-bottom: 10px;
  }
  .navTitle {
    color: #ffffff;
    padding-left: 50px;
    size: 50px;
  }
  
  .itemNav {
    padding: 15px;
  }
  .about-title {
    padding-top: 6%;
  }
  .footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


  #loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
  }
  
  
  @media only screen and (max-width: 600px) {
    .display-3 {
      font-size: 4rem;
    }
    .lead {
      font-size: 1.6rem;
    }
    .gallery-head {
      font-size: 2rem;
    }
    .navTitle {
      padding-left: 3px;
    }
  }
  