* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-switcher-width: 48px;
  --color-switcher-height: 24px;
  --color-switcher-radio-dimension: 20px;
  --color-switcher-bg: rgba(255, 255, 255, 0.947);
  --color-switcher-circle-bg: rgba(18, 17, 17, 0.952);
}

:root.dark {
  --color-switcher-bg: black;
  --color-switcher-circle-bg: white;
}

html {
  scroll-behavior: smooth;
}

.form-control {
  width: 750px;
}

body {
  color: black;
  font-family: "Righteous", cursive;
  cursor: url(https://cur.cursors-4u.net/user/use-1/use30.cur), auto !important;
  min-height: 100vh;
  max-width: 100%;
}

body.day {
  background-color: #ffffff;
}

body.night {
  background-color: #1E314F;
}

h1.day,
p.day {
  color: #000000;
}

h1.night,
p.night {
  color: #ffffff;
}

head {
  color: #dddddd;
}

title {
  color: #dddddd;
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  background-color: #fff;
  z-index: 99;
}

#loading[data-theme='dark'] {
  background-color: #000;
}

.dark-mode {
  background-color: black;
  /* color: white; */
}

.light-mode {
  background-color: white;
  color: black;
}

.arrow {
  color: white;
}

#header {
  background: url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: calc(100vh - 4.45rem);
}

/* scale-animation-by-sudo-nick16 */
.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.backToTop {
  background: rgb(224, 224, 224);
  position: fixed;
  margin-bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #d31a1a;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

.backToTop.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.card {
  height: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.card-body.hidden {
  display: none;
}

.card-img-top {
  padding: 2rem;
}

.display-3 {
  font-size: 8rem;
}

.fas fa-chevron-down fa-6x gallery-icon {
  padding-top: 100px;
}

.gallery-head {
  font-size: 3rem;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.gallery-icon {
  color: #000000;
  text-align: center;
}

.itemNav {
  padding: 15px;
}

.jumbotron {
  border-radius: 0;
}

.lead {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.navbar {
  background-color: black;
  color: white;
}

.navbar~* {
  position: relative;
  top: 1rem;
}

.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}

.view-div {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.view-button {
  width: 130px;
  height: 50px;
  margin: 0 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.view-button>img {
  width: 24px;
  height: 24px;
}

.view-button:hover {
  cursor: pointer;
}

.view-button.selected {
  outline: 1px solid black;
}

.cursor {
  border-right: 6px solid rgba(255, 255, 255, 0.75);
  animation: blink 1000ms ease-in infinite;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #031937;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: rgba(255, 255, 255, 0);
  }
}

@media (max-width: 320px) {
  .form-control {
    width: 100%;
  }

  .lead {
    margin-top: 20px;
  }

  #header {
    width: 510px;
  }

  .display-1 {
    font-size: 4rem;
  }

  #icon1 {
    margin-top: -6%;
  }

  #gallery1 {
    font-size: 1.5rem;
    margin-top: 5%;
    text-transform: uppercase;
  }
}

@media (min-width: 321px) and (max-width: 449px) {
  .form-control {
    width: 100%;
  }

  #header {
    width: 500px;
  }

  .display-1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 449px) and (max-width: 750px) {
  #header {
    width: 100%;
  }

  .color-switcher {
    margin-left: 99px;
  }
}

@media (min-width: 760px) {
  #header {
    width: 100%;
  }

  .color-switcher {
    margin-left: 300px;
  }
}

@media (min-width: 800px) and (max-width: 1440px) {
  #header {
    width: 100%;
  }

  .color-switcher {
    margin-left: 330px;
  }
}

@media only screen and (max-width: 600px) {
  .form-control {
    width: 100%;
  }

  .display-3 {
    font-size: 4rem;
  }

  .gallery-head {
    font-size: 2rem;
  }

  .navTitle {
    padding-left: 3px;
  }
}

@media only screen and (min-width: 992px) {
  #header {
    height: calc(100vh - 4.45rem - 15px);
  }

  .navbar~* {
    top: calc(4.45rem + 15px);
  }

  .color-switcher {
    margin-left: 330px;
  }

}

/* Styles for if the screen is taller than it is wide (assumed mobile view) */
@media screen and (max-aspect-ratio: 8/7) {
  .form-control {
    width: 100%;
  }

  .display-3 {
    font-size: 6rem;
  }
}



.card-title {
  color: #94000f;
}

.input-group {
  display: flex !important;
  place-items: flex-end !important;
  align-content: space-around !important;
  flex-direction: column !important;
  margin-bottom: 4rem;
}

#search-result {
  font-style: italic;
}

.footer {
  /* background: rgb(168, 160, 160); */
  position: fixed;
  left: 0;
  bottom: -16px;
  width: 100%;
  background: black;
  color: #ffffff;
  line-height: 2.2rem;
  text-align: center;
  height: 2rem;
  text-transform: capitalize;
}

.footer .fa-linkedin-square,
.footer .fa-github {
  position: absolute;
  left: 2rem;
  bottom: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 2rem; */
}

.footer .fa-github {
  left: 4rem;
}

.copy {
  position: absolute;
  right: 2rem;
}

.footer .fa-linkedin-square:hover,
.footer .fa-github:hover {
  transform: scale(1.1);
}

.color-switcher {
  width: var(--color-switcher-width);
  height: var(--color-switcher-height);
  position: relative;
}

#color-switch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
  width: var(--color-switcher-width);
  height: var(--color-switcher-height);
}

.color-switch-span {
  position: absolute;
  width: var(--color-switcher-width);
  height: var(--color-switcher-height);
  background: var(--color-switcher-bg);
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
  z-index: 10;
  border-radius: 30px;
}

.color-switch-span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2.6px;
  z-index: 50;
  cursor: pointer;
  width: var(--color-switcher-radio-dimension);
  height: var(--color-switcher-radio-dimension);
  border-radius: 50%;
  background-color: var(--color-switcher-circle-bg);
  box-shadow: 0px 0px 5px 1.8px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in;
}

#color-switch:checked+.color-switch-span::before {
  transform: translateX(23px);
}

.fa-solid {
  /* margin:0 2.5px 3px 2px ; */
  margin-left: 6.4px;
  font-size: 14px;
}

.fa-moon {
  color: white;
}

.fa-sun {
  color: #d8900b;
}

@media (max-width: 575.98px) {
  .footer {
    height: 5rem;
    padding: 2px;
    font-size: large;
  }

  .copy {
    bottom: 3px;
  }

  .footer .fa-linkedin-square,
  .footer .fa-github {
    bottom: 0.7rem;
  }

  .lead {
    margin: 20px;
  }

  .input-group {
    margin-bottom: 2rem;
  }
}