*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-transform: capitalize;
    text-overflow: ellipsis;
    transition: all .2s linear;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #2e72cc 0%, #27ae60 0%);
    background-image: url(payimage.webp);
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: rgba(255, 255, 255, 0.336);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
   
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #f17261;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #c3f7ab;
  }
